/*CSS to be reorganised so that there's better flow. Leave as is for now until more experience is gained.*/

*   {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body    {
    background-image: url("../images/blue_back.jpg");
    background-color: #086656;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 0.5px 0.5px 
}

h1, h2, h3, h4, p  {
    text-align: center;
    /*color: #660816;*/
    font-size: 250%;
    font-weight: bold;
    text-shadow: 0.5px 0.5px;
}

h2, h3  {
    text-decoration: underline;
    color: rgb(24, 21, 21);
}

p   {
    color:rgba(231, 214, 214, 0.849);
    font-size: 20px;
    text-decoration-thickness: 10px;
    font-weight: bold;
    font-size: 150%;
    text-shadow: 0.5px 0.5px;
}

#main   {
    opacity: .8;
}

picture {
    text-align: center;
    display: flex;
    border-radius: 50%;
    margin: auto;
    border: rgba(48, 40, 40, 0.808);
    padding: 20px 0 20px 0
}

img {
    text-align: center;
    border-radius: 50%;
    margin: auto;
    border: rgba(48, 40, 40, 0.808);
    padding: 20px 0 20px 0;
    size: relative;
}

.colleges  {
    color: black;
}

.colleges:hover    {
    color: white;
}

a {
    text-decoration: none;
    color:white;
    font-size: x-large;
    font-weight: bold;
}

a:hover {
    /*color: #205f6d;*/
    /*color: #660816;*/
    color: #add8e6;
    transition: .05s;
    transition-timing-function: linear;
    text-decoration: none;
}

a:hover img     {
    transition: .5s;
    transform: scale(110%);
    border-radius: 100%;
    animation-name: imageAnimate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes imageAnimate {
    0% {transform: rotate(0deg);
        transform: rotate(360deg);
        border-radius: 100%;}
    50% {transform: rotate(-30deg);}
    100% {transform: rotate(30deg);}
}

.navbar     {   
    background-color: black;
    padding: 0;
    background-size: cover;
    position: relative;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

.footbar  {
    padding: 15px;
    background-color: rgb(15, 14, 14);
    text-align: center;
}

.header  {
    color: rgba(231, 214, 214, 0.849);
    text-align: center;
}

.container {
    background-image: url("../images/blue_back.jpg");
    background-color: #1263cc;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-around;
}


.form {
    display: inline-block;
    position: center; 
    width: 400px;
    text-align: left;
    margin-left: 10px;
}

label {
    display: inline-block;
    width: 75px;
    text-align: top;
}

input {
    margin: 10px 0;
}

aside {
    margin-top: 10%;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.ending {
    padding-bottom: 28%;
}

.links {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.card {
    background-color: rgb(4, 36, 95, .4);
    border-radius: 25px;
    padding: 5px;
    margin: 20px 20px;
    width: 380px;
}

.card:hover {
    box-shadow: 5px 5px;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: center;
}